.footer {
  position: fixed;
  bottom: 0;
  left: 0;
  width: 100%;
  background-color: #ffffff; 
  border-top: 1px solid #ccc;
  box-shadow: 0 -2px 4px rgba(0, 0, 0, 0.1);
  z-index: 2;
}

.footer-nav {
  display: flex;
  justify-content: space-around;
  align-items: center;
  padding: 10px 0;

}

.footer-item {
  flex: 1;
  text-align: center;
}

.footer-link {
  display: flex;
  flex-direction: column;
  align-items: center;
  text-decoration: none;
  color: #000000 !important;
  padding: 10px;
  transition: background-color 0.3s ease, color 0.3s ease;
}

.footer-link.active {
  background-color: #000000;
  color: #ffffff !important;
  border-radius: 12px;
}


.footer-link.active .footer-icon {
  color: #ffffff ;

}

.footer-icon {
  color: #000000;
  margin-bottom: 5px;
}

.footer-label {
  font-size: 12px;
  font-weight: bold;
}

/* Stili per dispositivi mobili */
@media (max-width: 768px) {
  .footer-label {
    font-size: 10px; 
  }

  .footer-link {
    padding: 8px; 
  }
}