.navbar {
  display: flex;
  align-items: center;
  justify-content: space-between; 
  width: 100%;
  box-shadow: 0 -2px 5px rgba(0, 0, 0, 0.1);
  z-index: 2;
  position: fixed;
  bottom: 0;
  left: 0;
  background-color: #ffffff; 
  border: 1px solid #000;
}

.navbar-logo {
  flex: 1;
  display: flex;
  justify-content: center; 
}


.navbar-icon {
  cursor: pointer;
  padding-right: 30px;
}


@media (max-width: 768px) {
  .navbar {
    padding: 10px;
  }

  .navbar-logo img {
    height: 30px; 
  }

  .navbar-icon {
    margin-right: 10px; 
  }
}